.componenti_intro {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
  }
  
  .intro .titolo_pagina_intro h1 {
    text-align: left;
    max-width: 750px;
    width: 70%;
    font-weight: 400;
  }
  
  .contenitore_scelta_persone {
    padding: 0 30px;
    width: 100%;
    position: relative;
  }
  
  .scelta_persone {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: var(--scuro);
    padding: 20px;
    border-radius: 50px;
    border: solid 2px var(--scuro);
    position: relative;
    z-index: 20;
    width: 70%;
    color: var(--spento);
  }
  
  .scelta_persone .icona_scelta {
    font-size: 30px;
    color: var(--spento);
    display: inline-flex;
  }
  
  .contenitore_scelta_persone.contenitore_scelta_persone_aperto
    .scelta_persone
    .icona_scelta {
    color: var(--spento);
  }
  
  .scelta_persone .icona_scelta.icona_freccetta {
    transition: transform 0.2s linear;
  }
  
  .scelta_persone p {
    font-family: var(--font);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: var(--spento);
    text-align: center;
  }
  
  .scelta_persone p span {
    padding-right: 5px;
  }
  .scelta_persone p span:last-child {
    padding-left: 5px;
  }
  
  .contenitore_scelta_persone .numero_persone {
    display: none;
  }
  
  /* scelta aperta */
  .contenitore_scelta_persone.contenitore_scelta_persone_aperto .scelta_persone {
    background-color: var(--scuro);
    border: solid 2px var(--scuro);
    position: relative;
    z-index: 26;
  }
  
  .contenitore_scelta_persone.contenitore_scelta_persone_aperto
    .scelta_persone
    p {
    color: var(--spento);
  }
  
  .contenitore_scelta_persone.contenitore_scelta_persone_aperto
    .scelta_persone
    p
    span {
    color: var(--evidente);
  }
  
  .contenitore_scelta_persone.contenitore_scelta_persone_aperto
    .scelta_persone
    .icona_scelta.icona_freccetta {
    transform: rotateZ(180deg);
  }
  
  .contenitore_scelta_persone.contenitore_scelta_persone_aperto .numero_persone {
    position: absolute;
    top: 36px;
    right: 0;
    left: 30px;
    display: block;
    background-color: var(--scuro);
    /* padding: 28px 15px 20px 15px; */
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    z-index: 25;
    padding: 38px 0 30px 0;
    width: calc(70% - 42px);
  }
  
  .numero_persone .separatore {
    height: 2px;
    background-color: var(--spento);
    margin: 0 0 30px 0;
  }
  
  .numero_persone .numero_massimo {
    font-family: var(--font);
    font-size: 16px;
    line-height: 20px;
    color: var(--spento);
    margin-bottom: 30px;
    text-align: center;
    padding: 0 20px;
  }
  
  .numero_persone .aggiungi_persone {
    position: relative;
    overflow: hidden;
    min-height: 40px;
    margin-bottom: 25px;
    margin-right: 20px;
  }
  .text_persone {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--spento);
  }
  .numero_persone .aggiungi_persone p {
    font-family: var(--font);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--spento);
    padding-left: 20px;
    padding-right: 130px;
  }
  
  .numero_persone .aggiungi_persone .tasti_aggiungi {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    width: 100%;
    max-width: 120px;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
  }
  
  .numero_persone .aggiungi_persone .tasti_aggiungi .icona_scelta {
    display: inline-flex;
    font-size: 40px;
    line-height: 40px;
    width: 40px;
    color: var(--evidente);
  }
  
  .numero_persone .aggiungi_persone .tasti_aggiungi .icona_scelta:active {
    color: var(--spento);
  }
  
  .numero_persone .aggiungi_persone .tasti_aggiungi p {
    display: inline-flex;
    padding: 0;
    width: calc(100% - 66px);
    justify-content: center;
  }
  
  .numero_persone .tasto_default {
    border: solid 2px var(--spento);
  }
  
  .numero_persone .tasto_default:active {
    border: solid 2px var(--evidente);
    background-color: var(--evidente);
    color: var(--default);
  }
  
  .scelta_servizi {
    padding: 28px 0 20px 0 !important;
  }
  
  .scelta_servizi .separatore {
    margin-bottom: 0 !important;
  }
  
  .servizi_disponibili {
    margin-bottom: 20px;
  }
  
  .servizi_disponibili ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .servizi_disponibili ul li {
    padding: 15px 0;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: var(--spento);
    text-align: center;
    margin: 0;
    transition: all 200ms linear;
    border-bottom: 1px solid rgba(1, 8, 31, 0.1);
  }
  
  .servizi_disponibili ul li:active {
    background-color: var(--evidente);
    color: var(--default);
  }
  
  .servizi_disponibili ul li.servizio_scelto {
    background-color: var(--evidente) !important;
    color: var(--default) !important;
  }
  
  .info_come_prenotare {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--spento);
    text-align: center;
    padding: 0 20px;
  }
  
  .total {
    top: 270px !important;
  }
  
  .scelta_persone .info_come_prenotare {
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 54px;
    z-index: 20;
    transform: translate(1000px, -50%);
    width: 100%;
    max-width: 280px;
    border: solid 2px var(--spento);
    background-color: var(--default);
    border-radius: 5px;
    animation-name: nuvoletta;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 1700ms;
    animation-delay: 50ms;
  }
  
  @-webkit-keyframes nuvoletta {
    0% {
      transform: translate(1000px, -50%);
    }
    100% {
      transform: translate(0, -50%);
    }
  }
  
  @keyframes nuvoletta {
    0% {
      transform: translate(1000px, -50%);
    }
    100% {
      transform: translate(0, -50%);
    }
  }
  
  .info_come_prenotare p,
  .total {
    font-size: 16px !important;
    line-height: 20px;
    font-weight: 400 !important;
    color: var(--spento) !important;
    text-align: center;
    padding: 15px;
  }
  
  .contenitore_calendario {
    display: block;
    width: 70%;
    height: auto;
    margin: 0;
    padding: 10px 10px 0 30px;
    position: relative;
  }
  
  .contenitore_calendario .info_come_prenotare,
  .total {
    display: block;
    position: absolute;
    top: 70px;
    left: 100%;
    margin-left: 40px;
    z-index: 20;
    transform: translate(1000px, 0);
    width: 100%;
    max-width: 280px;
    border: solid 2px var(--spento);
    background-color: var(--default);
    border-radius: 5px;
    animation-name: nuvoletta2;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 1700ms;
    animation-delay: 600ms;
  }
  
  @-webkit-keyframes nuvoletta2 {
    from {
      transform: translate(1000px, 0);
    }
    to {
      transform: translate(0, 0);
    }
  }
  
  @keyframes nuvoletta2 {
    from {
      transform: translate(1000px, 0);
    }
    to {
      transform: translate(0, 0);
    }
  }
  
  .info_come_prenotare:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent var(--spento);
    display: block;
    width: 0;
    z-index: 1;
    left: -23px;
    top: 50%;
    margin-top: -12px;
    animation-name: freccia_nuvoletta;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-duration: 2000ms;
    animation-delay: 600ms;
    animation-iteration-count: infinite;
  }
  
  .info_come_prenotare:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent var(--spento);
    display: block;
    width: 0;
    z-index: 0;
    left: -23px;
    top: 50%;
    margin-top: -12px;
    animation-name: freccia_nuvoletta;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-duration: 2000ms;
    animation-delay: 600ms;
    animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes freccia_nuvoletta {
    0% {
      left: -23px;
    }
    50% {
      left: -33px;
    }
    100% {
      left: -23px;
    }
  }
  
  @keyframes freccia_nuvoletta {
    0% {
      left: -23px;
    }
    50% {
      left: -33px;
    }
    100% {
      left: -23px;
    }
  }
  
  .info_servizio {
    padding: 0 20px;
  }
  
  .info_servizio h2 {
    font-family: var(--font);
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    color: var(--spento);
    margin: 20px 0 0 0;
    text-align: center;
  }
  
  .info_servizio p {
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--spento);
    margin: 20px 0;
  }
  
  .contenitore_video {
    display: block;
    width: 100%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }
  
  .contenitore_video video {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .contenitore_immagine {
    display: block;
    width: 100%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    max-width: 500px;
    height: 170px;
  }
  
  .contenitore_immagine img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
  }
  
  .campo.campo_select {
    background-color: var(--default);
  }
  
  .messaggio_errore {
    position: absolute;
    bottom: 10px;
    font-size: 13px;
    width: 100%;
    left: 10px;
    color: var(--evidente);
  }
  
  /* --------------- MEDIA QUERIES --------------- */
  @media only screen and (max-width: 1150px) {
    .scelta_persone .info_come_prenotare,
    .contenitore_calendario .info_come_prenotare,
    .total {
      max-width: 240px;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .scelta_persone .info_come_prenotare,
    .contenitore_calendario .info_come_prenotare,
    .total {
      max-width: 240px;
    }
    .intro .titolo_pagina_intro h1,
    .scelta_persone,
    .contenitore_calendario {
      width: 60%;
    }
    .scelta_persone .info_come_prenotare {
      margin-left: 48px;
    }
    .contenitore_scelta_persone.contenitore_scelta_persone_aperto
      .numero_persone {
      left: 30px;
      width: calc(60% - 36px);
    }
  }
  
  @media only screen and (max-width: 767px) {
    .intro .titolo_pagina_intro h1,
    .scelta_persone,
    .contenitore_calendario {
      width: 100%;
    }
    .componenti_intro {
      padding: 20px 20px 10px 20px !important;
    }
    .intro .titolo_pagina_intro h1 {
      text-align: center;
    }
    .contenitore_scelta_persone,
    .contenitore_calendario {
      padding: 20px 20px 30px 20px;
    }
    .contenitore_scelta_persone.contenitore_scelta_persone_aperto
      .numero_persone {
      left: 20px;
      width: calc(100% - 40px);
      top: 57px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .componenti_intro {
      padding: 20px 15px 10px 15px !important;
    }
    .contenitore_scelta_persone,
    .contenitore_calendario {
      padding: 20px 15px 30px 15px;
    }
    .contenitore_scelta_persone.contenitore_scelta_persone_aperto
      .numero_persone {
      left: 15px;
      width: calc(100% - 30px);
    }
  }
  